# Dependencies
/node_modules

# Environment Variables
.env
.env.txt
.env.test
routes/vision-key.json

# macOS
.DS_Store

# Other
*.dmg

uploads/
import-log.txt

# Logs
logs/
*.log

# Testing
coverage/
*.test.log
